/* stylelint-disable sh-waqar/declaration-use-variable */

.yext-settings__card {
	background: var(--yxt-color-brand-white);
	border-radius: 0.5rem;
	box-shadow: 0 0 4px rgba(85, 85, 85, 0.25);
	padding: 2.5rem;
}

.yext-settings__card-inner {
	display: flex;
}

.yext-settings__card-content {
	flex: 1.5;
}

.yext-settings__card-content--center {
	text-align: center;
}

.yext-settings__card-content--width-75 {
	width: 75%;
}

.yext-settings__card-banner {
	margin-bottom: 2.5rem;
}

.yext-settings__card-header {
	
	& h2 {
		margin: 0;
	}

	& p {
		margin: 1.25rem 0;
	}
}

.yext-settings__card-footer {
	margin-top: 2.5rem;
	text-align: center;

	& img {
		width: 100%;
	}

	& button:not(:first-child) {
		margin: 1.625rem auto 0;
	}
}

.yext-settings__card-image {
	flex: 1;
	margin-left: 1.25rem;
	text-align: right;

	& img {
		border-radius: 0.5rem;
		height: auto;
		margin-left: auto;
		width: 100%;
	}

	@media (max-width: 600px) {
		display: none;
	}
}

.yext-settings__card-preview {
	flex: 1;
	margin-left: 1.25rem;

	@media (max-width: 600px) {
		display: none;
	}
}
