.yext-settings__footer {
	background: var(--yxt-color-brand-white);
	bottom: 0;
	box-shadow: 0 -1px 30px 4px rgba(51, 51, 51, 0.1);
	display: flex;
	justify-content: flex-end;
	left: 0;
	margin-left: var(--wp-admin-panel-width) !important;
	padding: 1rem 2.5rem;
	position: fixed;
	right: 0;
	z-index: 2;
}
