#yext-settings {

	& .grid {
		display: grid;
		grid-gap: var(--grid-gap);
		grid-template-columns: repeat(var(--grid-column-count), var(--grid-column-width));

		& > *:nth-last-child(-n+1):first-child,
		& > *:nth-last-child(-n+1):first-child ~ * {
			grid-column: span var(--grid-column-count);
		}

		& > *:nth-last-child(n+2):nth-last-child(-n+2):first-child,
		& > *:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ * {
			grid-column: span 6;
		}

		& > *:nth-last-child(n+3):nth-last-child(-n+3):first-child,
		& > *:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ * {
			grid-column: span 4;
		}

		& > *:nth-last-child(n+4),
		& > *:nth-last-child(n+4) ~ * {
			grid-column: span 3;
		}
	}
}
