.yext-settings__header {
	align-items: center;
	background: var(--yxt-color-brand-white);
	box-shadow: 0 -1px 30px 4px rgba(51, 51, 51, 0.1);
	display: flex;
	height: 3.75rem;
	justify-content: space-between;
	left: 0;
	margin-left: 10rem;
	padding: 0.5rem 1.25rem;
	position: fixed;
	right: 0;
	top: var(--wp-admin-header-height);
	z-index: 3;

	@nest .folded & {
		margin-left: 2.25rem;
	}

	@media only screen and (max-width: 960px) {

		@nest .auto-fold & {
			margin-left: 2.25rem;
		}
	}

	@media screen and (max-width: 782px) {
		margin-left: 0 !important;

		@nest .wp-responsive-open & {
			margin-left: 11.875rem !important;
		}
	}
}

.yext-settings__header-logo {
	align-items: center;
	display: flex;

	& svg {
		margin-right: 0.625rem;
	}

	& h2 {
		font-size: var(--yxt-font-size-lg);
		font-weight: var(--yxt-font-weight-medium);
		line-height: var(--yxt-line-height-lg);
	}
}

.yext-settings__header-menu {
	display: flex;

	& button {
		align-items: center;
		background: transparent;
		border: 0;
		display: flex;

		&:last-child {
			margin-left: 1.5rem;
		}

		& span {
			font-size: var(--yxt-font-size-md-lg);
			font-weight: var(--yxt-font-weight-medium);
			line-height: var(--yxt-line-height-lg);
			margin-left: 0.5rem;
		}
	}
}
