.yext-settings {
	font-family: Poppins, sans-serif;
	margin-bottom: 5rem;
	padding-left: 1.375rem;
	padding-right: 2.625rem;
	padding-top: calc(76px);

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6,
	& p,
	& svg,
	& label, {
		color: var(--c-black);
	}
}
