#yext-settings {

	& form {
		position: relative;

		&::before {
			background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='30' height='30' viewBox='0 0 50 50' xml:space='preserve'%3E%3Cpath fill='%23333' d='M25.251 6.461c-10.318 0-18.683 8.365-18.683 18.683h4.068c0-8.071 6.543-14.615 14.615-14.615V6.461z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			content: "";
			height: 3rem;
			position: absolute;
			width: 3rem;
		}

		& .tabs {
			display: none;
		}
	}

	&[data-is-loaded="1"] {

		& form {
			
			&::before {
				display: none;
			}

			& .tabs {
				display: block;
			}
		}
	}
}
