.yext-wizard[data-progress-id="0"] {

	& .yext-settings__footer {
		display: none;
	}
}

.yext-wizard[data-progress-id="4"] {

	& .yext-settings__footer {
		display: none;
	}
}

.yext-wizard__banner {
	margin-bottom: 2rem;
}
