/**
 * Gutenberg Blocks Styles
 * https://project-website.tld
 *
 */

@import url("../frontend/components/search-bar.css");

.editor-styles-wrapper {

	& .yxt-SearchBar {
		height: 100%;
	}

	& input.yxt-SearchBar-input {

		&:focus {
			box-shadow: none !important;
		}
	}

	& .component--is-hidden {
		display: none;
	}
}
